<h1>Ticketdriver　使い方</h1>
<p>
<b>■チケットの新規作成</b><br>
チケット一覧画面で「新規チケット」をクリックして、新規チケット作成画面に移る。<br>
項目は次のように埋める。<br>
※利用法の一例なので詳細はプロジェクトマネージャーが決めてください。<br>
</p>
<p>
<b>チケット名</b><br>
属性が「開発」の場合、作業内容が端的に分かるようなタイトルにする。<br>
作業は担当者1人が短期間(長くて2,3日)で終わらせられる内容にする。<br>
それ以上長い期間が必要な場合は、なるべく分割する。<br>
属性が「バグ報告」の場合は、バグの内容が端的に分かるようなタイトルにする。<br>
詳細はメモ欄に書く。<br>
</p>
<p>
<b>属性</b><br>
「開発」か「バグ報告」か選択する。<br>
該当のバグの修正作業を行うとき、「バグ報告」から「開発」に変更する。<br>
</p>
<p>
<b>担当者</b><br>
開発を担当する者の名前を書く。<br>
基本的に1人だが、共同作業（打ち合わせして決める事項など）は2人分書く。<br>
担当者が決まっていない作業は空白にする。<br>
属性が「バグ報告」の場合、デバッガの名前はここではなくメモ欄に書き、ここは空白にする。<br>
</p>
<p>
<b>優先度</b><br>
作業優先度を選択する。<br>
星が多いほど優先度が高い。<br>
どの優先度にするのが相応しいかは、プロジェクトマネージャーと相談すること。<br>
</p>
<p>
<b>終了済み</b><br>
作業が終了していれば、チェックを入れる。<br>
</p>
<p>
<b>メモ</b><br>
補足・詳細説明などを書く。<br>
細かいことはこちらに書いて、チケット名はなるべくシンプルにする。<br>
属性が「バグ報告」の場合は、ここに報告者の名前を書いておく。<br>
</p>
<p>
<b>■チケットに対するコメント</b><br>
疑問や意見などがあれば、コメント機能を使用する。<br>
あくまで補助的な機能なので、込み入った内容については担当者やプロジェクトマネージャーと直接打ち合わせすること。<br>
</p>