
span.red {
 color: #ff0000;
}

span.black {
 color: #000000;
}

span.green {
 color: #00ff00;
}

span.blue {
 color: #0000ff;
}

table {
 border: 1px solid #ccc;
}
 
th {
 border: none;
}
 
td {
 border-top: 1px solid #ececec;
 border-right: 1px solid #ccc;
 border-bottom: none;
 border-left: 1px solid #ccc;
}

td.name {
 width: 300px;
}
 
thead tr {
 border-right: 1px solid #6B97BF;
 border-bottom: 1px solid #6B97BF;
 border-left: 1px solid #6B97BF;
 background-color: #7DB1E0;
}
 
tbody tr {
 border-bottom: 1px solid #ccc;
 background-color: white;
}
 
tbody tr:nth-child(even) {
 background-color: #ECECEC; /* whiteと適度に差がある配色 */
}

